.emcs.d/auto-save-list
.emacs.d/elpa
.emacs.d/elisp/*.tar.gz
.emacs.d/elisp/jedi
.emacs.d/elisp/elisp.d
.emacs.d/backups
.emacs.d/misc
.emacs.d/public_repos
.emacs.d/ac-comphist*.dat
.emacs.d/*.orig
*.elc

.zhistory
.zcompdump
.zshrc.mine
.zsh/.chpwd-recent-dirs
.zsh/zaw

misc
