*~
\#*
.\#*


# Emacs
.emacs.d/auto-save-list/.saves-*
.emacs.d/ac-comphist*.dat
.emacs.d/backups/[\!\#]*
.emacs.d/elisp/*.el
.emacs.d/elisp/*.tar.gz
.emacs.d/elisp/*/
.emacs.d/elpa/*/
.emacs.d/elpa/*readme.txt
.emacs.d/.session
.emacs.d/recentf
.emacs.d/abbrev_defs
.python-environments
.emacs.d/network-security.data
.emacs.d/transient/
.emacs.d/elpy/

*.elc

# Zsh
.zhistory
.zcompdump
.zshrc.mine
.zsh/.chpwd-recent-dirs

misc
