# DOTFILES_PATH=/path/to/dotfiles
# export PATH=~/local/bin:$PATH

# Git contrib/diff-highlight
# export PATH=${DOTFILES_PATH}/VCS/git/contrib/diff-highlight:$PATH

# Java (on OSX)
# export JAVA_HOME=$(/System/Library/Frameworks/JavaVM.framework/Versions/A/Commands/java_home -v "1.8")
# export DERBY_HOME=$JAVA_HOME/db

# R
# export R_LIBS=~/R/x86_64-apple-darwin11.2.0-library/2.14

# Proxy
# export HTTPS_PROXY=http://<login_internet>:<password_internet>@aproxy:aport
# export HTTP_PROXY=http://<login_internet>:<password_internet>@aproxy:aport
# export FTP_PROXY=$HTTP_PROXY
# export NO_PROXY=localhost,127.0.0.1,my.company

# Go
# export GOPATH=${HOME}/.go
